In [72]:
import csv
import json
import pandas as pd

In [16]:
data = pd.read_csv("./data/stock.sample.csv")

In [23]:
data[:10]

         date   open   high    low  close    volume
0  2001-10-25  13700  13700  13700  13700     17120
1  2001-10-26  15300  15300  15300  15300     81730
2  2001-10-29  17100  17100  16800  17100   6532070
3  2001-10-30  17000  17600  16150  17100  21017010
4  2001-10-31  17350  17450  16600  16650   6846880
5  2001-11-01  16650  16800  16050  16150   6524050
6  2001-11-02  16100  16400  14800  15350   9836000
7  2001-11-05  15450  16100  14900  16100  10834020
8  2001-11-06  16200  16250  15750  15750   4986610
9  2001-11-07  15800  16400  15800  16000   5579670

## Convert result csv file to json file

In [74]:
def convert_csv_json(data_file):
    input_file_name = "./TIMEBAND/outputs/" + data_file + "/all/visualize.csv"
    output_file_name = "./TIMEBAND/outputs/" + data_file + "/all/visualize.txt"
    with open(input_file_name, "r", encoding="utf-8", newline="") as input_file, \
            open(output_file_name, "w", encoding="utf-8", newline="") as output_file:
        
        reader = csv.reader(input_file)
        col_names = next(reader)
    
        for cols in reader:s
            doc = {col_name: col for col_name, col in zip(col_names, cols)}
            print(json.dumps(doc, ensure_ascii=False), file=output_file)

In [76]:
convert_csv_json(data_file)

In [78]:
reader = csv.reader(data_file)
col_names = next(reader)

for cols in reader:s
    doc = {col_name: col for col_name, col in zip(col_names, cols)}

IndentationError: unexpected indent (58516003.py, line 5)

### Convert raw data with json file to dataframe

In [ ]:
output_file_name = "./data/stock.sample_t.csv"
with open(output_file_name, "w", encoding="utf-8", newline="") as output_file:
    data = []
    for line in input_file:
        datum = json.loads(line)
        data.append(datum)
        
    csvwriter = csv.writer(output_file)
    csvwriter.writerow(data[0].keys())
    for line in data:
        csvwriter.writerow(line.values())

In [69]:
data_json = data[:10].to_json()

In [71]:
type(data_json)

str

In [49]:
data_json = json.loads(data_json)

In [46]:
with open("./data/file.csv","w") as file:
    file.write(data_json + "\n")

In [43]:
json_normalize(data_json, ['date', 'open' ,'high', 'low', 'close', 'volume'])

C:\Users\hs\AppData\Local\Temp\ipykernel_15460\375808368.py:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  json_normalize(data_json, ['date', 'open' ,'high', 'low', 'close', 'volume'])

NotImplementedError:

In [ ]:
df = json_normalize(data)
df.to_csv('xyz.csv',index=False)

In [ ]:
with open("samplecsv.csv", 'w') as f: 
    wr = csv.DictWriter(f, fieldnames = info[0].keys()) 
    wr.writeheader() 
    wr.writerows(info)

In [1]:
data_file = "stock.sample"

In [ ]:
%run launcher.py -data data_file

In [3]:
import pandas as pd

In [5]:
pd.read_csv("./TIMEBAND/outputs/" + data_file + "/all/visualize.csv")

     Unnamed: 0     real   target         preds         lower         upper
0      01-10-25  13700.0  13700.0  13700.000000  13700.000000  13700.000000
1      01-10-26  15300.0  15300.0  15300.000000  15300.000000  15300.000000
2      01-10-29  17100.0  17100.0  17100.000000  17100.000000  17100.000000
3      01-10-30  17100.0  17100.0  17100.000000  17100.000000  17100.000000
4      01-10-31  16650.0  16650.0  16650.000000  16650.000000  16650.000000
...         ...      ...      ...           ...           ...           ...
4917   21-09-13  27900.0  27900.0  27153.836914  25856.584835  28451.088993
4918   21-09-14  28100.0  28100.0  27204.537109  25896.723308  28512.350911
4919   21-09-15  28200.0  28200.0  27400.173828  26125.109631  28675.238025
4920   21-09-16  28200.0  28200.0  27734.659180  26461.889304  29007.429055
4921   21-09-17  28350.0  28350.0  27952.123047  26605.857039  29298.389055

[4922 rows x 6 columns]

In [2]:
data